.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.line {
  stroke-width: 1.0;
  stroke: blue;
}
.line.line--small {
  stroke-width: 0.5 !important;
  stroke: lightBlue;
}

.dot--strong {
  fill: blue;
}

.dot--light {
  fill: #0e0e0e;
}

.stitch-line {
  stroke-width: 0.5;
  stroke: pink;
}

.space .stitch-line {
  stroke: transparent;
}

.space:hover .stitch-line {
  stroke: purple;
}
/*
.space {
  display: block;
}

.space:hover {
  border: 1px solid red;
}

.g-el {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.g-el:hover {
  border: 1px dotted green;
  cursor: pointer;
}*/
